@use "../abstracts/variables" as *;

/* ==========================================================================
   APP
   ========================================================================== */

.app {
  position: relative;

  min-height: 100vh;

  overflow: clip;

  background: var(--bg);

  color: var(--text);
}

/* ==========================================================================
   PAGE
   ========================================================================== */

.page {
  position: relative;

  isolation: isolate;
}

/* ==========================================================================
   CONTENT
   ========================================================================== */

.content {
  position: relative;

  z-index: 2;
}

/* ==========================================================================
   NOISE
   ========================================================================== */

.page-noise {
  position: fixed;
  inset: 0;

  pointer-events: none;

  z-index: 1;

  opacity: 0.03;

  background: url("/images/noise.webp") repeat;
}
